[Unit]
Description=Fridge Door Video Trigger service
After=graphical.target network.target
Requires=graphical.target

[Service]
Type=simple
User=raspberry5
Group=raspberry5
WorkingDirectory=/home/raspberry5/fridge_door/src
Environment=PYTHONUNBUFFERED=1
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Environment=WAYLAND_DISPLAY=wayland-0
Environment=DISPLAY=:0
Environment=PULSE_SERVER=unix:/run/user/1000/pulse/native
ExecStart=/home/raspberry5/fridge_door/fridge_door.sh
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
